  
/*Working with basics
------------------------------------------------*/
//create custom pallete
$background1 : white;
$darktextcolor : black;

//use
article {
    background-color: $background1;
    color: $darktextcolor;
}

#greeting-text {
    font-size: 50px;
    font-style: italic;
  
}


/*Working with mixins
------------------------------------------------*/
//create
@mixin lightpackage {
    color: white;
    background-color: grey;
    font-style: italic;
}
//use
section {
    @include lightpackage;
}

/* List details */
//nesting
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    li {
        display: inline;
        a {
            color: black;
            padding: 4px;
            }
        a:hover {
            color: grey;
            }
    }
}

#copyright {
    font-size: 20px;
}

/*
body {
    background-image: url("../images/background.jpeg");
    width: 75%;
    background-size: cover;

} */