  
/*Working with basics
------------------------------------------------*/
//create
$background1 : white;
$darktextcolor : black;

//use
article {
    background-color: $background1;
    color: $darktextcolor;
}




/*Working with mixins
------------------------------------------------*/
//create
@mixin lightpackage {
    color: white;
    background-color: grey;
    font-style: italic;
}
//use
section {
    @include lightpackage;
}